@{
	ViewData["Title"] = "Edição de Revendedor(a)";
	const string urlList = "/resellers/list";
}

<div class="text-center">
	<h1 class="display-4">@ViewData["Title"]</h1>
</div>

<form asp-action="Edit">
	<partial name="_Purchase" />
	<partial name="_ComeBack" model="urlList" />
	<button type="submit" class="btn btn-primary">Salvar</button>
</form>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
